:root {
	color-scheme: dark;
  }

html {
	font-family: 'Cascadia Code', sans-serif;
	font-size: 3vw;
	font-weight: 100;
	text-shadow: 0 0 5px lime;
	background-color: #0f0000;
	background-image: url(https://www.photo-denfert.com/upload/image/fond-papier-noir-black---101-bd-p-image-51331-grande.jpg);
	background-size: 100px;
	color: #66fc66;
	height: 100%;
	text-align: center;
}

body {
	margin: 0;
	height: 100%;
	display: grid;
	overflow: hidden;
}

.terminal {
	grid-row: 1;
	grid-column: 1;
	display: grid;
	grid-gap: 3vw;
	padding: 3vw;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr auto 1fr;
}

.glitch {
	animation: glitch 1.5s linear infinite;
}

.glitch--clone {
	opacity: 0.2;
}

.glitch--clone .hydra {
	filter: blur(2px);
	opacity: 0.8;
}

.glitch--top {
	animation: glitch--top 1s linear infinite;
}

.glitch--top .hydra {
	transform: translate(4vw, 4vw);
}

.glitch--bottom {
	animation: glitch--bottom 0.75s linear infinite;
}

.glitch--bottom .hydra {
	transform: translate(-1vw, -1vw);
}

.hydra {
	box-shadow: 0 0 2px lime, inset 0 0 2px lime;
	padding: 2vw;
	border: 0.2vw solid #66fc66;
	grid-row: 2/2;
	grid-column: 2/2;
}

.scanline {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 243, 53, 0.03);
	animation: scanline 6s linear infinite;
}

.loading-bar--unloaded {
	color: lime;
	text-shadow: 0 0 5px #66fc66;
}

.hidden {
	display: none;
}

p {
	font-family: 'Cascadia Code', sans-serif;
	font-size: inherit;
	line-height: 1.5;
	margin: 0;
}

button {
    text-shadow: 0 0 5px lime;
    background-color: black;
    animation: glitch 1.5s linear infinite;
    font-family: 'Cascadia Code', sans-serif;
    font-size: clamp(1rem, 5vw, 5rem);
    color: #66fc66;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border:none;
  }
  
button:hover {
    animation: glitch 1.5s linear infinite;
    background-color: #66fc66;
	box-shadow: 0 0 2px lime, inset 0 0 2px lime;
	border: 0.2vw solid #66fc66;
    color: black;
    text-shadow: 0 0 5px #66fc66;
  }

.text--sm {
	font-size: 1.75vw;
}

* + .text--sm {
	padding-top: 0.5vw;
}

* + .loading-bar {
	padding-top: 1vw;
}

@keyframes scanline {
	0.01% {
		transform: translatey(-100%);
	}
	99.99% {
		transform: translatey(0);
	}
	100% {
		transform: translatey(-100%);
	}
}

@keyframes glitch {
	2%,
	64% {
		transform: translate(2px, 0) skew(0deg);
	}
	4%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
	}
}

@keyframes glitch--top {
	2%,
	64% {
		transform: translate(2px, -2px);
	}
	4%,
	60% {
		transform: translate(-2px, 2px);
	}
	62% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

@keyframes glitch--bottom {
	2%,
	64% {
		transform: translate(-2px, 0);
	}
	4%,
	60% {
		transform: translate(-2px, 0);
	}
	62% {
		transform: translate(-22px, 5px) skew(21deg);
	}
}
.ecrandejeu{
  display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
}
h1{font-family: monospace;
  color: rgba(128,255,128,0.8);
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255,255,255,0.8);
font-size: 6em;}
canvas {
    border: 1px solid #ddd;
    display: inline-block;
    margin: 0 20%;
  }
