/*********************Contour de cadre mouvant*********************/

body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.block{
    position: relative;
    margin: 10% auto 0;
    width: 80%;
    height: 800px;
    background: linear-gradient(0deg, black, rgb(37, 37, 37));
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(50,205,50,0.5) 49%, rgba(50,205,50,0.5) 100%);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(40px);
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.block{
    position: relative;
    margin: 5% auto 0;
    width: 80%;
    height: 800px;
    background: linear-gradient(0deg, black, rgb(37, 37, 37));
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(50,205,50,0.5) 49%, rgba(50,205,50,0.5) 100%);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(40px);
}


/*********************ecriture terminal progressive*********************/
@keyframes blink {
    0%, 49% {
        border-right-color: transparent;
   }
    50%, 100% {
        border-right-color: currentColor;
   }
}
@keyframes scan {
    0% {
        background-position: 0 -100vh;
   }
    35%, 100% {
        background-position: 0 100vh;
   }
}

.rules{
    display: block;
    position: relative;
    top:0;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

#imgTitre img{
    display: block;
    margin: 5% auto 0 auto;
    padding-top: 4%;
}

output {
    display: inline-block;
    height: 60vh;
    padding: 0 25vh;
	font-size: 3vw;
	font-weight: 100;
    text-align: left;
    font-family: monospace;
    color: rgba(128,255,128,0.8);
    position: relative;
    margin: 0 auto;
    width: 80%;

}
/********************** l'effet radar qui descend ***************/
.rules::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg,transparent 0%,rgba(32,128,32,0.2) 2%,rgba(32,128,32,0.8) 3%,rgba(32,128,32,0.2) 3%,transparent 100%);
    background-repeat: no-repeat;
    animation: scan 7.5s linear 0s infinite;
}
.rules::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    /* background-image: radial-gradient(ellipse 50% 15% at 50% 15%,rgba(255,255,255,0.05),transparent), radial-gradient(ellipse 50% 10% at 50% 12%,rgba(255,255,255,0.1),transparent), radial-gradient(ellipse 50% 5% at 50% 10%,rgba(255,255,255,0.1),transparent), radial-gradient(ellipse 50% 3% at 50% 9%,rgba(255,255,255,0.1),transparent), radial-gradient(ellipse 200% 20% at 50% 0%,rgba(0,0,0,0.5),transparent), linear-gradient(0deg,rgba(0,0,0,0.2) 50%,transparent 50%); */
    background-size: 100%, 100%, 100%, 100%, 100%, 100% 0.25ch;
}

output q {
    display: inline-block;
    border-right: 0 solid currentColor;
    animation: blink 500ms linear 0s infinite;
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255,255,255,0.8);
    margin-bottom: 1em;
    line-height: 100%;
    font-size: 0.8em;
    text-align: left;
    /* width: 60%; */
}
output q::before {
    content: "> ";
}
output q:last-child {
    border-right-width: 1ch;
}


/*** style du bouton accepter****/
.boutonAccepter{
    display: block;
    position: absolute;
    top: 85%;
    left: 70%;
    text-shadow: 0 0 5px lime;
    background-color: black;
    animation: glitch 1.5s linear infinite;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 2em;
    color: #66fc66;
    padding: 1em 2em;
    box-shadow: 0 0 2px lime, 1px 0 10px lime;
    border:none;
    text-decoration: none;
  }
  
  .boutonAccepter:hover {
    animation: glitch 1.5s linear infinite;
    background-color: #66fc66;
	box-shadow: 0 0 2px lime, inset 0 0 2px lime;
	border: 0.2vw solid #66fc66;
    color: black;
    text-shadow: 0 0 5px #66fc66;
  }

  /**style glitch**/

.glitch {
	animation: glitch 1.5s linear infinite;
}

.glitch--clone {
	opacity: 0.2;
}

.glitch--clone .hydra {
	filter: blur(2px);
	opacity: 0.8;
}

.glitch--top {
	animation: glitch--top 1s linear infinite;
}

.glitch--top .hydra {
	transform: translate(4vw, 4vw);
}

.glitch--bottom {
	animation: glitch--bottom 0.75s linear infinite;
}

.glitch--bottom .hydra {
	transform: translate(-1vw, -1vw);
}

@keyframes glitch {
	2%,
	64% {
		transform: translate(2px, 0) skew(0deg);
	}
	4%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
	}
}

@keyframes glitch--top {
	2%,
	64% {
		transform: translate(2px, -2px);
	}
	4%,
	60% {
		transform: translate(-2px, 2px);
	}
	62% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

@keyframes glitch--bottom {
	2%,
	64% {
		transform: translate(-2px, 0);
	}
	4%,
	60% {
		transform: translate(-2px, 0);
	}
	62% {
		transform: translate(-22px, 5px) skew(21deg);
	}
}



    /**ajustements version mobile */

    @media screen and (min-width: 769px) and (max-width: 1500px){
        #imgTitre img{
            width: 100%;
            padding-left: 2%;}
        output {
            height: 60vh;
            padding: 0 5vh;
            font-size: 3vw;
            margin: 0 auto;
        }
        .block{
            position: relative;
            margin: 5% auto 0;
            width: 80%;
            height: 800px;
        }

        .boutonAccepter{
            display: block;
            top: 84%;
            left: 40%;
          }
    }

    @media screen and (max-width: 768px) {
        #imgTitre img{
            width: 100%;
            padding-left: 2%;}
        output {
            height: 40vh;
            padding: 0 5vh;
            font-size: 5.6vw;
            margin: 0 auto;
        }
        .block{
            position: relative;
            margin: 5% auto 0;
            width: 80%;
            height: 600px;
        }

        .boutonAccepter{
            display: block;
            top: 60%;
            left: 19%;
            font-size: 2em;
          }

    }